<div class="modal fade" id="soft-delete-modal" tabindex="-1" aria-hidden="true" style = "z-index: 1060;">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Xóa mặt hàng</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <label>Bạn chắc chắn muốn xóa mặt hàng này?</label>
                <input class = "form-control" type="text" id = "product-id" readonly>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-danger" id = "save-soft-delete">Xóa</button>
            </div>
        </div>
    </div>
</div>

