<div class="modal fade" id="modify-modal" tabindex="-1" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Bảng điều chỉnh</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <label>ID sản phẩm</label>
                                <input type="text" class="form-control" id = "product-id" readonly>
                            </div>
                            <div class="form-group">
                                <label>Tên sản phẩm</label>
                                <input type="text" class="form-control" id = "product-name">
                            </div>
                            <div class="form-group">
                                <label>Giá</label>
                                <input type="text" class="form-control" id = "product-price">
                            </div>
                            <div class="form-group">
                                <label>Số lượng</label>
                                <input type="text" class="form-control" id = "product-count">
                            </div>
                            <div class="form-group">
                                <label>Loại hàng hóa</label>
                                <input type="text" class="form-control" id = "product-category">
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                            <button type="button" class="btn btn-primary" id = "save-modify">Lưu điều chỉnh</button>
                        </div>
                    </div>
                </div>
            </div>